@model BodyLog.Models.GlobalModel

@{
    ViewBag.Title = "Stwórz Danie z Produktów!";
}

<h2>Stwórz Danie z Produktów!</h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="">
        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
            @Html.LabelFor(model => model.Dishes.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dishes.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dishes.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <table class="table" id="productsAdded">

            <tr> <th> Produkt </th> <th> Ilość </th> <th> Kalorie </th> <th> Białko </th> <th> Węglowodany </th> <th> tłuszcze</th> <th> </th></tr>

            @for (int i = 0; i < Model.Products.Count; i++)
            {
                <tr data-productAdded=@Model.Products[i].Id style="display: none">
                    <td>  @Model.Products[i].Name </td>
                    <td> @Html.EditorFor(model => model.Products[i].Volume, new { htmlAttributes = new { @class = "form-control inputsVolume",   @placeholder = "gramy", style = "width:100px; height: 30px" } }) </td>
                    <td data-calories=@Model.Products[i].Calories> 0</td>
                    <td data-proteins=@Model.Products[i].Proteins> 0</td>
                    <td data-carbohydrates=@Model.Products[i].Carbohydrates> 0</td>
                    <td data-fats=@Model.Products[i].Fats> 0 </td>
                    <td> <button name="removeProductButton" onclick="return false;"  class="btn-sm" id=@Model.Products[i].Id> X </button> </td>
                    </tr>
            }

        </table>
    </div>

    <div class="row" style="margin-top: 50px">
        <form>
            <p>
                Szukaj Produkt
            </p>
            <input id="searchProduct" name="searchProduct" type="text" value="">
            <input type="button" value="Szukaj">
        </form>


    </div>



    <div class="row" style="margin-top: 20px">
        <table class="table-condensed">
            <tr> <th> Produkt </th> <th> Kalorie </th> <th> Białko </th> <th> Węglowodany </th> <th> tłuszcze</th> <th> </th></tr>
            @for (int i = 0; i < Model.Products.Count; i++)
            {

                <tr style="opacity: 1" data-productFromList=@Model.Products[i].Id>
                    <td>  @Model.Products[i].Name</td>


                    <td> @Model.Products[i].Calories  </td>
                    <td> @Model.Products[i].Proteins </td>
                    <td> @Model.Products[i].Carbohydrates </td>
                    <td> @Model.Products[i].Fats </td>
                    <td> <button style="display: block" name="addDishesButton" class="btn-sm" id=@Model.Products[i].Id> Dodaj </button> </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-12" style="margin: 30px 30px 30px 0px">
        <input type="submit" value="Dodaj" class="btn btn-default" />
    </div>




    <script src="~/Scripts/createDishes.js"></script>
}