@model BodyLog.Models.GlobalModel

@{
    ViewBag.Title = "Dania z Produktów";
}

<h2>Dania stworzone z Twoich produktów!</h2>

@for (int i = 0; i < Model.DishesList.Count; i++)
{

<table class="table-condensed" style="width: 500px; text-align: center">
    <tr> <th> </th> <th> kalorie</th> <th> białko</th> <th> węglowodany</th> <th> tłuszcze</th></tr>
    <tr>
        <td> <b> @Model.DishesList[i].Name </b> </td>
        <td> @Model.DishesList[i].Calories </td>
        <td> @Model.DishesList[i].Carbohydrates </td>
        <td> @Model.DishesList[i].Proteins </td>
        <td> @Model.DishesList[i].Fats </td>
    </tr>
</table>
<table class="table" style="margin-bottom: 30px; margin-top: 5px; width: 500px">

    @foreach (var item in Model.Dishes_Products.Where(dish => dish.Id_Dishes == Model.DishesList[i].Id))
    {
        <tr>
            <td width="300px">
                @Model.Products.Find(p => p.Id == @item.Id_Product).Name
            </td>
            <td>
                @Model.Dishes_Products.Find(p => p.Id_Product == @item.Id_Product && p.Id_Dishes == Model.DishesList[i].Id).gram
            </td>

        </tr>
    }
        <tr>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = Model.DishesList[i].Id })
            </td>
            <td></td>
        </tr>
</table>
}
