@model BodyLog.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Usuń</h2>

<h3>Jesteś pewny, że chcesz usunąć "@Html.DisplayFor(model => model.Name)"?</h3>
<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proteins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proteins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fats)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>
